#1.請問以下程式執行結果?

In [3]:
import random
num = random.randint(1, 100)
answer = -1
while answer !=  num:
  answer = eval(input("請猜數字1-100："))
  if answer > num:
        print("太大了！")
  elif answer < num:
          print("太小了！")
  else:
          print("猜對了！")

請猜數字1-100：78
太大了！
請猜數字1-100：50
太小了！
請猜數字1-100：60
太大了！
請猜數字1-100：55
太大了！
請猜數字1-100：53
太大了！
請猜數字1-100：51
太小了！
請猜數字1-100：52
猜對了！

# 2.以for loop 測試range(100,10,-3) 做為迭代物件,  所產生的整數序列, 下列何者為真?

In [4]:
n=0
for i in range(100,10,-3):
    n+=1
    print (i,end=' ')
print ("\n n=",n)

100 97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13
 n= 30

# 3. 為了完成以下倒金字塔的形狀, 請問程式中(1) (2)應該填入什麼?

In [5]:
n = eval(input("請輸入金字塔的高度 (1 ~ 30)："))

for i in range(1, n + 1):
    print(" " * (n - i) , "*" * (2 * i - 1))

請輸入金字塔的高度 (1 ~ 30)：15
               *
              ***
             *****
            *******
           *********
          ***********
         *************
        ***************
       *****************
      *******************
     *********************
    ***********************
   *************************
  ***************************
 *****************************

# 3-2.以下的程式執行完後, 有哪幾個數字可以被印出?

In [13]:
n = eval(input("請輸入金字塔的高度 (1 ~ 30)："))

for i in range(n,0,-1):
    print(" " * (n-i) , "*" * (i*2-1))

請輸入金字塔的高度 (1 ~ 30)：10
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

# 4.以下的程式執行完後, 有哪幾個數字可以被印出?

In [9]:
for i in range(1,5):
  for j in range(1,5):
    if i*j<8:
      continue
    print(i*j)

8
9
12
8
12
16

# 5.下列哪個函式可以傳回參數由弳度轉換成角度的結果?
(1)	math.degrees()
(2)	math.radians()
(3)	math.sin()
(4)	math.tan

# 6.(程式撰寫: filename:p1.py) 有一首法國兒歌, 也是我們小時候唱的兩隻老虎, 歌曲內容如下:
 
(1)	請建立上述字串時省略標點符號, 最後列出此字串
(2)	再將字串轉為串列同時列出串列
(3)	在螢幕輸入字串, 可以列出這個字串出現次數
以下是示範輸出~~

In [11]:
str1="Are you sleeping, are you sleeping, Brother John? Morning bells are ringing, morning bells are ringing. Ding ding dong, Ding ding dong."
sList=str1.split()

print ('歌曲字串內容:'+str1)
print ('歌曲串列內容:',sList)
########################################
n=0
str2= input('請輸入找尋字串')
for s in sList:
    if str2==s:
        n+=1

print (str2+"總共出現"+str(n)+"次")

歌曲字串內容:Are you sleeping, are you sleeping, Brother John? Morning bells are ringing, morning bells are ringing. Ding ding dong, Ding ding dong.
歌曲串列內容: ['Are', 'you', 'sleeping,', 'are', 'you', 'sleeping,', 'Brother', 'John?', 'Morning', 'bells', 'are', 'ringing,', 'morning', 'bells', 'are', 'ringing.', 'Ding', 'ding', 'dong,', 'Ding', 'ding', 'dong.']
請輸入找尋字串sleeping,
sleeping,總共出現2次

# 7.(程式撰寫: filename:p2.py) 請設計以下 九九乘法表
以下是示範輸出~~

In [12]:
result1, result2 = '', ''

for i in range(1, 10):
    result1 = ''
  
    for j in range(1, 10):
        result1 =  str(i) + '*' + str(j) + '=' + format(str(i * j),"4")  
        print (result1,end='  ')
        if j%3==0 :
            print ("\n")
    print ("*******************************************")

1*1=1     1*2=2     1*3=3

1*4=4     1*5=5     1*6=6

1*7=7     1*8=8     1*9=9

*******************************************
2*1=2     2*2=4     2*3=6

2*4=8     2*5=10    2*6=12

2*7=14    2*8=16    2*9=18

*******************************************
3*1=3     3*2=6     3*3=9

3*4=12    3*5=15    3*6=18

3*7=21    3*8=24    3*9=27

*******************************************
4*1=4     4*2=8     4*3=12

4*4=16    4*5=20    4*6=24

4*7=28    4*8=32    4*9=36

*******************************************
5*1=5     5*2=10    5*3=15

5*4=20    5*5=25    5*6=30

5*7=35    5*8=40    5*9=45

*******************************************
6*1=6     6*2=12    6*3=18

6*4=24    6*5=30    6*6=36

6*7=42    6*8=48    6*9=54

*******************************************
7*1=7     7*2=14    7*3=21

7*4=28    7*5=35    7*6=42

7*7=49    7*8=56    7*9=63

*******************************************
8*1=8     8*2=16    8*3=24

8*4=32    8*5=40    8*6=48

8*7=56    8*8=64    8*9=72

*******************************************
9*1=9     9*2=18    9*3=27

9*4=36    9*5=45    9*6=54

9*7=63    9*8=72    9*9=81

*******************************************