In [ ]:
#資料檔路徑(資料檔：i_filepath，完成檔：o_filepath，內文說明檔：c_filepath)
filepath = '/content/MyGoogleDrive/MyDrive/Colab Notebooks/CT_final/Data/'
i_filepath = filepath 
o_filepath = filepath + '完成檔/'
c_filepath = filepath + '內文說明檔/'

#<b>*Part I*

#<b>常見的資料處理工作

## 資料觀察

##實作-觀察資料框和刪除重複記錄

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df = pd.read_excel(c_filepath + '學生成績檔.xlsx')
df.head()

Mounted at /content/MyGoogleDrive

        ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...    88.0    82.0      87    92.0
1  1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...   100.0    95.0      99    96.0
2  1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...    87.0    86.0      82    82.0
3  1080004  何志陞   男  1080004@sun.tc.edu.tw  ...    92.0    99.0      91    92.0
4  1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...     NaN    92.0      97    98.0

[5 rows x 9 columns]

In [ ]:
df.info()   # 印出各行包含的內容

In [ ]:
df.describe() #資料框相關的統計數據

In [ ]:
df.duplicated()   #檢查資料有無重複的情形

In [ ]:
df        #全部列印

In [ ]:
df = df.drop_duplicates()   #將重複的列資料刪除
df.info()

In [ ]:
df

##儲存結果【學生成績檔01.csv】

In [ ]:
filename='學生成績檔01.csv'       
df.to_csv(o_filepath + filename, index=False)

#<b>加廣知識：shape,columns,index函式

In [ ]:
df.shape

(40, 9)

In [ ]:
df.columns

Index(['ID', 'name', 'sex', 'email', '第1次平時考', '第2次平時考', '第3次平時考', '第4次平時考',
       '第5次平時考'],
      dtype='object')

In [ ]:
df.columns[4]

'第1次平時考'

In [ ]:
df.index      #印出資料框

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40],
           dtype='int64')

In [ ]:
df[df['sex'] == '男'].index

Int64Index([ 0,  3,  5,  7,  9, 11, 13, 17, 19, 20, 22, 27, 28, 29, 31, 32, 33,
            34, 35, 37, 39, 40],
           dtype='int64')

#<b>資料篩選、刪除列資料與行資料

##實作-資料篩選、刪除列/行資料

##讀【學生成績檔02.csv】

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔02.csv')
filter = df['第1次平時考'] == -1    #進行篩選, 找出有缺考者
print(filter)

In [ ]:
df[filter]

         ID name sex                  email  ...  第2次平時考  第3次平時考  第4次平時考  第5次平時考
7   1080008  李憲勝   男  1080008@sun.tc.edu.tw  ...    -1.0    -1.0      -1    -1.0
11  1080012  林絜峰   男  1080012@sun.tc.edu.tw  ...    75.0    66.0      -1    -1.0

[2 rows x 9 columns]

In [ ]:
i = df[filter].index   #找出所有符合條件的記錄索引
df = df.drop(i, axis = 0)   # axis=0或省略: 刪除列資料, 
                  # axis=1: 刪除行資料
df

##儲存結果【學生成績檔03.csv】

In [ ]:
filename='學生成績檔03.csv'       
df.to_csv(o_filepath + filename, index=False)

#<b>補上缺值

##實作-空值資料檢查及補值

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔04.csv')
df.info()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      38 non-null     int64
 1   name    38 non-null     object
 2   sex     38 non-null     object
 3   email   38 non-null     object
 4   第1次平時考  38 non-null     int64
 5   第2次平時考  36 non-null     float64
 6   第3次平時考  37 non-null     float64
 7   第4次平時考  38 non-null     int64
 8   第5次平時考  37 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.8+ KB

In [ ]:
df1 = pd.isnull(df)   #檢查資料框空值的資料格,
            #會產生一個由True/False組成的資料框
            #資料格〝True〞表示為空值 "NaN"
df1

In [ ]:
x = df['第2次平時考'].mean()
# 以下是將資料框內指定"行索引"中所有的空值"NaN"以 fillna()指定的值補值
df['第2次平時考'] = df['第2次平時考'].fillna(x)
df

In [ ]:
df.info()

In [ ]:
x = df['第3次平時考'].mean()
df['第3次平時考'] = df['第3次平時考'].fillna(x) 
x = df['第5次平時考'].mean()
df['第5次平時考'] = df['第5次平時考'].fillna(x) 
df.info()

## 儲存結果

In [ ]:
filename='學生成績檔05.csv'       
df.to_csv(o_filepath + filename, index=False)

#<b>資料轉換

##實作-資料轉換

In [ ]:
from google.colab import drive
drive.mount('/content/MyGoogleDrive')
import pandas as pd
df=pd.read_csv(i_filepath + '學生成績檔06.csv')
df.head()

Drive already mounted at /content/MyGoogleDrive; to attempt to forcibly remount, call drive.mount("/content/MyGoogleDrive", force_remount=True).

        ID name sex                  email  ...      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒   男  1080001@sun.tc.edu.tw  ...   88.000000    82.0      87    92.0
1  1080002  王倫樺   女  1080002@sun.tc.edu.tw  ...  100.000000    95.0      99    96.0
2  1080003  何宜敏   女  1080003@sun.tc.edu.tw  ...   87.000000    86.0      82    82.0
3  1080004  何志陞   男  1080004@sun.tc.edu.tw  ...   92.000000    99.0      91    92.0
4  1080005  吳ㄧ歌   女  1080005@sun.tc.edu.tw  ...   85.138889    92.0      97    98.0

[5 rows x 9 columns]

In [ ]:
s = {'男': 1, '女':0} 
df['sex']=df['sex'].map(s)
df.head()

        ID name  sex                  email  ...      第2次平時考  第3次平時考  第4次平時考  第5次平時考
0  1080001  丁軒軒    1  1080001@sun.tc.edu.tw  ...   88.000000    82.0      87    92.0
1  1080002  王倫樺    0  1080002@sun.tc.edu.tw  ...  100.000000    95.0      99    96.0
2  1080003  何宜敏    0  1080003@sun.tc.edu.tw  ...   87.000000    86.0      82    82.0
3  1080004  何志陞    1  1080004@sun.tc.edu.tw  ...   92.000000    99.0      91    92.0
4  1080005  吳ㄧ歌    0  1080005@sun.tc.edu.tw  ...   85.138889    92.0      97    98.0

[5 rows x 9 columns]

##儲存結果

In [ ]:
filename='學生成績檔07.csv'       
df.to_csv(o_filepath + filename, index=False)