# **控制結構 ─ 迴圈**

---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
BasePath = '/content/drive/MyDrive/Python/'   #檔案存放基本路徑

fileName1=BasePath+'supData/data01.txt'
fileName2=BasePath+'supData/data02.txt'
fileName3=BasePath+'supData/data03.txt'
fileName4=BasePath+'supData/data04.txt'

# **While迴圈結構**

In [ ]:
次數, 目標=0, 5
while 次數 < 目標:
  print("已經練習了{}次\t開始第{}次的練習".format(次數, 次數+1))
  次數 += 1
else:
  print("達成目標，一共練習了{}次".format(次數))

已經練習了0次	開始第1次的練習
已經練習了1次	開始第2次的練習
已經練習了2次	開始第3次的練習
已經練習了3次	開始第4次的練習
已經練習了4次	開始第5次的練習
達成目標，一共練習了5次

In [ ]:
次數 = 0
目標 = int(input('輸入練習次數: '))
while 次數 < 目標:
  print("練習第{}次".format(次數+1))
  次數 += 1
else:
  print("達成目標，一共練習了{}次".format(次數))

輸入練習次數: 3
練習第1次
練習第2次
練習第3次
達成目標，一共練習了3次

---
##**無窮迴圈(不執行)**##

In [ ]:
次數, 目標=0, 5
while 次數 < 目標:
  print("已經練習了{}次\t開始第{}次的練習".format(次數, 次數+1))
else:
  print("達成目標，一共練習了{}次".format(次數))

In [ ]:
DEBUG = True
c, n =1, 2
while c <= n:
  if DEBUG: print(c, "Hello Python!")
  c=c+1

1 Hello Python!
2 Hello Python!

<mark>問題：輸入整數N，並輸出1,2,3,…,N。

In [ ]:
n = int(input('輸入整數N:'))
c = 1
while c < n:
  print(c, end=', ')
  c+=1
else:
  print(c)

輸入整數N:6
1, 2, 3, 4, 5, 6

<mark>問題：輸入偶數N，並輸出1,3,5…,N-1。

In [ ]:
n = int(input('輸入整數N:'))
c = 1
while c < n-1:
  print(c, end=', ')
  c+=2
else:
  print(c)

輸入整數N:20
1, 3, 5, 7, 9, 11, 13, 15, 17, 19

<mark>問題：輸入N，並輸出N, N-1,…, 3, 2, 1。

In [ ]:
n = int(input('輸入整數N:'))
while n > 1:
  print(n, end=', ')
  n-=1
else:
  print(n)

輸入整數N:8
8, 7, 6, 5, 4, 3, 2, 1

<mark><b>問題：輸入偶數N，並輸出(1, 1)(2, 3)(3, 5)…，一共輸出N對。

In [ ]:
n = int(input('輸入整數N: '))
c, d = 1, 1
while c < n:
  print("({}, {})".format(c,d), end=', ')
  c+=1
  d+=2
else:
  print("({}, {})".format(c,d))

輸入整數N: 5
(1, 1), (2, 3), (3, 5), (4, 7), (5, 9)

# **For迴圈結構**

In [ ]:
data = ['Mon.','Tue.','Wed.','Thr.','Fri.'] #串列 data
for c in data:
  print(c, end=' ')

Mon. Tue. Wed. Thr. Fri.

In [ ]:
data = ['Mon','Tue','Wed','Thr','Fri']
for c in data:
  print(c, end='. ') 
else:
  print()
print('========================')

Mon. Tue. Wed. Thr. Fri.
========================

##**range函數**##

In [ ]:
seq = range(5)    # range()會產生一個iterator物件
print(seq)
for c in seq:
  print(c, end='. ')

range(0, 5)
0. 1. 2. 3. 4.

<mark><font size=4><b>問題：輸入N，並輸出1,2,3,…,N。

In [ ]:
n=int(input('輸入整數N: '))
for i in range(1,n):
  print(i, end=', ')
else:
  print(i+1)

輸入整數N: 7
1, 2, 3, 4, 5, 6, 7

<mark><font size=4>問題：輸入偶數N，並輸出1,3,5…,N-1。

In [ ]:
n=int(input('輸入偶數 N: '))
for c in range(1,n-1,2):
  print(c, ', ', sep='', end='')
else:
  print(n-1)

輸入偶數 N: 10
1, 3, 5, 7, 9

#	**檔案資料讀取**

In [ ]:
f = open(fileName1, 'r')
for s in f:
 #以下用.split()函數，將字串依','分開拆分出來的2個值，分別對應給int()完成轉型
  w, h =map(int,s.split(',')) 
  print("體重:{} 身高:{}".format(w,h))

體重:75 身高:168
體重:62 身高:152
體重:78 身高:172
體重:91 身高:180
體重:39 身高:149
體重:42 身高:155
體重:46 身高:159
體重:41 身高:162

In [ ]:
o = open(BasePath+"results/res01.txt", 'w') # 寫出結果
with open(fileName2, 'r') as f:   #open()檔案若失敗,系統不會執行3~5行,會自動關閉資源
  for s in f:
    w, h =map(int,s.split())
    o.write("體重:{} 身高:{} BMI:{:.2f}\n".format(w,h, w*10000/h**2))

o.close()

# **巢狀迴圈結構**

In [ ]:
data = ['Mon.', 'Tue.', 'Wed.', 'Thr.', 'Fri.']
for c in data:
  print(c, end=' ')
  次數, 目標=0, 5
  while 次數 < 目標:
    print("練習第{}次 ".format(次數+1), end=' ')
    次數 += 1
  else:
    print()

Mon. 練習第1次  練習第2次  練習第3次  練習第4次  練習第5次
Tue. 練習第1次  練習第2次  練習第3次  練習第4次  練習第5次
Wed. 練習第1次  練習第2次  練習第3次  練習第4次  練習第5次
Thr. 練習第1次  練習第2次  練習第3次  練習第4次  練習第5次
Fri. 練習第1次  練習第2次  練習第3次  練習第4次  練習第5次

<mark><font size=4>問題：輸入正整數 M，重複輸出M列，每列包含M個*。
```
  * *  … *    一列 M 個 *
     :
  * *  … *    共 M 列
```

In [ ]:
M = int(input('輸入方陣邊長: '))
for x in range(M):    #重覆m列
  print("第{}列: ".format(x+1), end=" ")
  for y in range(M):    #每列有m個
    print('*', end=' ')
  else:
    print()

<mark><font size=4>輸入正整數 M，重複輸出M列。範例如下：當M=3時，輸出。
```
  1, 2, 3    一列 3 項
  1, 2, 3
  1, 2, 3    共 3 列
```

In [ ]:
M=int(input('輸入整數M: '))
for c in range(M):
  for i in range(1,M):
    print(i, end=', ')
  else:
    print(i+1)

輸入整數M: 3
1, 2, 3
1, 2, 3
1, 2, 3

<mark> <font size=4>輸入2正整數 m, n，重複輸出m列，每列包含n個*。
```
  * * * * … *    一列 n 個 *
     :
  * * * * … *    共 m 列
```

In [ ]:
M=int(input('輸入正整數 m: '))
N=int(input('輸入正整數 n: '))
for m in range(M):
  for n in range(N):
    print('* ', end='')
  else:
    print()

輸入正整數 m: 3
輸入正整數 n: 8
* * * * * * * *
* * * * * * * *
* * * * * * * *

<mark> <font size=4>請使用者輸入2正整數 m, n，重複輸出m列。當m=2, n=3時的輸出範例如下。
```
  1 2 3
  4 5 6   共 2 列。
```

In [ ]:
M=int(input('輸入正整數 m: '))
N=int(input('輸入正整數 n: '))
no=1
for m in range(M):
  for n in range(N):
    print(no, end=' ')
    no+=1
  else:
    print()

輸入正整數 m: 2
輸入正整數 n: 3
1 2 3
4 5 6

# **迴圈中斷與續做**

##**迴圈中斷**##

<mark><font size=4>問題：從資料檔中循序選出前五名參加啦啦隊。

In [ ]:
with open(fileName4, 'r') as f:
  c = 1
  for s in f:
    data = s.split(',')
    n, w, h, g = data[0], float(data[1]), float(data[2]), data[3]
    print("第{}位啦啦隊員: 姓名({})性別({})".format(c,n,g))
    c+=1
    if c>5: break  #中斷迴圈

第1位啦啦隊員: 姓名(王一)性別(M
)
第2位啦啦隊員: 姓名(王二)性別(F
)
第3位啦啦隊員: 姓名(王三)性別(M
)
第4位啦啦隊員: 姓名(王四)性別(M
)
第5位啦啦隊員: 姓名(丁一)性別(F
)

<mark><font size=4>問題：A小姐每天都會運動，並輸入每天的BMI值，她計畫持續運動直到BMI小於25。

In [ ]:
while True:
  print("持續運動..", end=" ")
  bmi = float(input("請輸入目前BMI:"))
  if bmi < 25:
    print("體脂肪達標")
    break

持續運動.. 請輸入目前BMI:31.1
持續運動.. 請輸入目前BMI:28.5
持續運動.. 請輸入目前BMI:26.5
持續運動.. 請輸入目前BMI:23
體脂肪達標

##**迴圈續做**##

<mark><font size=4>問題：從資料檔中循序選出前五名女生參加啦啦隊，輸出他們的姓名與BMI。

In [ ]:
with open(fileName4, 'r') as f:
  c = 1
  for s in f:
    data = s.split(',')
    n, w, h, g = data[0], float(data[1]), float(data[2]), data[3]
    if g=="M": continue
    print("姓名({}) BMI({:.1f})".format(n,w*10000/h**2))
    c+=1
    if c>5: break

姓名(王一) BMI(19.6)
姓名(王二) BMI(17.5)
姓名(王三) BMI(21.2)
姓名(王四) BMI(26.8)
姓名(丁一) BMI(18.2)